h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

html:has(dialog[open]) {
  overflow: hidden;
}
