$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;

// Colors
$color-title: #000;
$color-text-contrast: #fff;
$color-bg-primary: #ebd96b;
$color-text-secondary: #8e8e8e;
$color-text-primary: #7f7f7f;
$color-text-nav: #242323;
$color-title-secondary: #191919;
$color-bg-secondary: #e5c643;
