<section class="application">
  <div class="container">
    <div class="application__wrap">
      <div class="application__left">
        <h2 class="application__heading">
          DOWNLOAD APP &<br />GET THE VOUCHER!
        </h2>
        <p class="application__text">
          Get 30% off for first transaction using <br />
          Rondovision mobile app for now.
        </p>
        <div class="application__buttons">
          <div class="application__button">
            <a href="#" class="application__button--apple">
              <img
                src="/src/images/app-store.jpg"
                alt="Download on the App Store"
                class="application__button-image"
              />
            </a>
          </div>
          <div class="application__button">
            <a href="#" class="application__button application__button--google">
              <img
                src="/src/images/google-play.jpg"
                alt="Get it on Google Play"
                class="application__button-image"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="application__right">
        <div class="mobile">
          <ul class="mobile__portfolio">
            <li class="top__link">
              <img src="/src/images/app-menu-icon.png" alt="Menu icon" />
            </li>
            <li class="top__link">
              <img src="/src/images/app-profile-icon.png" alt="Profile icon" />
            </li>
          </ul>

          <div class="mobile__headline">Match your style</div>

          <div class="mobile__search">
            <div class="mobile_img-wrap">
              <img src="/src/images/app-searh-icon.png" alt="Search icon" />
            </div>
            <div class="mobile__seacrch-text">Search</div>
          </div>

          <ul class="mobile__categories">
            <li
              class="mobile__categories-basic mobile__categories-basic--active"
            >
              Trending Now
            </li>
            <li class="mobile__categories-basic">All</li>
            <li class="mobile__categories-basic">New</li>
          </ul>

          <ul class="mobile__list mobile__list--top">
            <ul class="mobile__item">
              <li>
                <img
                  src="/src/images/app-item-first.png"
                  alt="Polkadot Red Dress"
                />
              </li>
              <li class="mobile__item-title">Polkadot Red Dress</li>
              <li class="mobile__item-subtitle">Rs. 1,499.00</li>
            </ul>
            <ul class="mobile__item">
              <li>
                <img
                  src="/src/images/app-item-second.png"
                  alt="Striped Pink Dress"
                />
              </li>
              <li class="mobile__item-title">Striped Pink Dress</li>
              <li class="mobile__item-subtitle">Rs. 1,299.00</li>
            </ul>
          </ul>
          <ul class="mobile__list">
            <ul class="mobile__item">
              <li>
                <img
                  src="/src/images/app-item-third.png"
                  alt="Blue Casual Dress"
                />
              </li>
            </ul>
            <ul class="mobile__item">
              <li>
                <img
                  src="/src/images/app-item-fourth.png"
                  alt="Green Summer Dress"
                />
              </li>
            </ul>
          </ul>

          <div class="mobile__nav-wrap">
            <ul class="mobile__nav">
              <li>
                <img
                  src="/src/images/app-nav-first.png"
                  alt="Home navigation icon"
                />
              </li>
              <li>
                <img
                  src="/src/images/app-nav-second.png"
                  alt="Menu navigation icon"
                />
              </li>
              <li>
                <img
                  src="/src/images/app-nav-third.png"
                  alt="Basket navigation icon"
                />
              </li>
              <li>
                <img
                  src="/src/images/app-nav-fourth.png"
                  alt="Profile navigation icon"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
