<section class="brands">
  <div class="container">
    <ul class="brands__list">
      <li class="brands__item">
        <a href="https://www.hm.com/ua/" target="_blank" class="brand">
          <img
            src="./images/hm-icon.png"
            srcset="./images/hm-icon.png 1x, ./images/hm-icon@2x.png 2x"
            alt="H&M логотип"
            class="brand__logo"
          />
        </a>
      </li>
      <li class="brands__item">
        <a href="https://obeyclothing.com/" target="_blank" class="brand">
          <img
            src="./images/obey-icon.png"
            srcset="./images/obey-icon.png 1x, ./images/obey-icon@2x.png 2x"
            alt="Obey логотип"
            class="brand__logo"
          />
        </a>
      </li>
      <li class="brands__item">
        <a href="https://www.shopify.com/" target="_blank" class="brand">
          <img
            src="./images/shopify-icon.png"
            srcset="
              ./images/shopify-icon.png    1x,
              ./images/shopify-icon@2x.png 2x
            "
            alt="Shopify логотип"
            class="brand__logo"
          />
        </a>
      </li>
      <li class="brands__item">
        <a href="https://www.lacoste.ua/" target="_blank" class="brand">
          <img
            src="./images/lacoste-icon.png"
            srcset="
              ./images/lacoste-icon.png    1x,
              ./images/lacoste-icon@2x.png 2x
            "
            alt="Lacoste логотип"
            class="brand__logo"
          />
        </a>
      </li>
      <li class="brands__item">
        <a href="https://www.levi.com/" target="_blank" class="brand">
          <img
            src="./images/levis-icon.png"
            srcset="./images/levis-icon.png 1x, ./images/levis-icon@2x.png 2x"
            alt="Levi's логотип"
            class="brand__logo"
          />
        </a>
      </li>
      <li class="brands__item">
        <a href="https://www.amazon.com/" target="_blank" class="brand">
          <img
            src="./images/amazon-icon.png"
            srcset="./images/amazon-icon.png 1x, ./images/amazon-icon@2x.png 2x"
            alt="Amazon логотип"
            class="brand__logo"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
