<section class="brands">
  <div class="container">
    <ul class="brands__list">
      <li class="brands__item">
        <img src="/src/images/h&m-icon.png" alt="H&M логотип" />
      </li>
      <li class="brands__item">
        <img src="/src/images/obey-icon.png" alt="Obey логотип" />
      </li>
      <li class="brands__item">
        <img src="/src/images/shopify-icon.png" alt="Shopify логотип" />
      </li>
      <li class="brands__item">
        <img src="/src/images/lacoste-icon.png" alt="Lacoste логотип" />
      </li>
      <li class="brands__item">
        <img src="/src/images/levis-icon.png " alt="Levi's логотип" />
      </li>
      <li class="brands__item">
        <img src="/src/images/amazon-icon.png" alt="Amazon логотип" />
      </li>
    </ul>
  </div>
</section>
