<section class="community">
  <div class="container">
    <h2 class="community__title">
      JOIN SHOPPING COMMUNITY TO GET MONTHLY PROMO
    </h2>
    <p class="community__title">
      Type your email down below and be young wild generation
    </p>
    <form class="community__form subscribe" data-form-subscribe>
      <div class="subscribe__field">
        <label class="subscribe__label" for="subscribe-mail"
          >Add your email here</label
        >
        <input class="subscribe__input" type="email" id="subscribe-mail" />
      </div>
      <button class="subscribe__submit" type="button">SEND</button>
    </form>
    <dialog class="subscribe-popup" data-modal-subscribe>
      <div class="subscribe-popup__content">
        <h3 class="subscribe-popup__message">Thank you for subscribing!</h3>
      </div>
    </dialog>
  </div>
</section>
