<section class="favourite">
  <div class="container favourite__container">
    <h2 class="favourite__title">Young’s Favourite</h2>

    <div class="favourite__grid">
      <!-- Картка 1 -->
      <div class="favourite__card">
        <img
          src="./images/fashionable_girls.jpg"
          alt="fashionable girls"
          class="favourite__img"
        />
        <div class="favourite__content">
          <div class="favourite__text-box">
          <h3 class="favourite__subtitle">Trending on instagram</h3>
          <p class="favourite__text">Explore Now!</p>
          </div>
          <a href="#">
            <img
              class="favourite__arrow"
              src="./images/arrow.svg"
              alt="arrow"
            />
          </a>
        </div>
      </div>
      <!-- Картка 2 -->
      <div class="favourite__card">
        <img
          src="./images/fashionable_girl.jpg"
          alt="fashionable girl"
          class="favourite__img"
        />
        <div class="favourite__content">
          <div class="favourite__text-box">
          <h3 class="favourite__subtitle">All Under $40</h3>
          <p class="favourite__text">Explore Now!</p>
          </div>
          <a href="#">
            <img
              class="favourite__arrow"
              src="./images/arrow.svg"
              alt="arrow"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
