<section class="favourite">
  <div class="container favourite__container">
    <h2 class="favourite__title">Young’s Favourite</h2>

    <div class="favourit__grid">
        <!-- Картка 1 -->
     <div class="favourite__card">
        <img src="../images/fashionablegirls.jpg" alt="fashionable girls" class="favourite__img">
        <div class="favourite__content">
          <h3 class="favourite__subtitle">Trending on instagram</h3>
          <p class="favourite__text">Explore Now!</p>
          <a href="#" class="favourite__link">→</a>
       <!-- Картка 2 -->
        <div class="favourite__card">
        <img src="../images/fashionablegirl.jpg" alt="fashionable girl" class="favourite__img">
        <div class="favourite__content">
          <h3 class="favourite__subtitle">All Under $40</h3>
          <p class="favourite__text">Explore Now!</p>
          <a href="#" class="favourite__link">→</a>
        </div>
      </div>
    </div>
  </div>
</section>
