<footer class="footer">
  <div class="container footer__container">
    <div class="footer__brand">
      <h3 class="footer__logo">FASHION</h3>
      <p class="footer__desc">
        Complete your style with awesome<br />
        clothes from us.
      </p>

      <div class="footer__socials">
        <ul class="social-list">
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="facebook">
              <svg width="13" height="25">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="instagram">
              <svg width="21" height="21">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="twitter">
              <svg width="25" height="20">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="pinterest">
              <svg width="23" height="28">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__links">
      <div class="footer__col">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h4>Quick Link</h4>
        <ul>
          <li><a href="#">Share Location</a></li>
          <li><a href="#">Orders Tracking</a></li>
          <li><a href="#">Size Guide</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Terms & conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
