<footer class="footer">
  <div class="container footer__container">
    <div class="footer__brand">
      <h3 class="footer__logo">FASHION</h3>
      <p class="footer__desc">
        Complete your style with awesome<br />
        clothes from us.
      </p>

      <div class="footer__socials">
        <ul class="social-list">
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="facebook">
              <svg width="13" height="25">
                <use href="./images/icons/footer-icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="instagram">
              <svg width="21" height="21">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="twitter">
              <svg width="25" height="20">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#" class="social-list__link" aria-label="pinterest">
              <svg width="23" height="28">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__links">
      <div class="footer__col footer__col--company">
        <h4 class="footer__title">Company</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">About</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Contact us</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Support</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Careers</a>
          </li>
        </ul>
      </div>

      <div class="footer__col footer__col--quick">
        <h4 class="footer__title">Quick Link</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Share Location</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Orders Tracking</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Size Guide</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">FAQs</a>
          </li>
        </ul>
      </div>

      <div class="footer__col footer__col--legal">
        <h4 class="footer__title">Legal</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Terms & conditions</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
