<header class="header">
  <div class="container header__container">
    <a href="#" class="logo"><img src="/src/images/logo-top.png" alt="" /></a>
    <div class="header__right">
      <ul class="navigation">
        <li><a href="#catalogue" class="navigation__link">Catalogue</a></li>
        <li><a href="#fashion" class="navigation__link">Fashion</a></li>
        <li><a href="#favourite" class="navigation__link">Favourite</a></li>
        <li><a href="#lifestyle" class="navigation__link">Lifestyle</a></li>
      </ul>
      <button class="registration">Sign Up</button>
    </div>
  </div>
</header>
