<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">LET’S EXPLORE UNIQUE CLOTHES.</h1>
      <p class="hero__text">Live for Influential and Innovative fashion!</p>
      <button class="hero__button">Shop Now</button>
    </div>
    <picture>
      <source
        srcset="./images/people1.webp 871w, ./images/people1@2x.webp 1742w"
        type="image/webp"
      />
      <source
        srcset="./images/people1.jpg 871w, ./images/people1@2x.jpg 1742w"
        type="image/jpeg"
      />
      <img class="hero__img" src="./images/people1.jpg" alt="" />
    </picture>
  </div>
</section>
