<section class="hero">
  <div class="container hero__wrap">
    <div class="hero__content">
      <h1 class="hero__title">
        LET’S EXPLORE <span class="hero__title--span">UNIQUE</span> CLOTHES.
      </h1>
      <p class="hero__text">Live for Influential and Innovative fashion!</p>
      <button class="hero__button">Shop Now</button>
    </div>
    <div class="hero__photo">
      <picture>
        <source
          srcset="./images/people1.webp 871w, ./images/people1@2x.webp 1742w"
          type="image/webp"
        />
        <source
          srcset="./images/people1.png 871w, ./images/people1@2x.png 1742w"
          type="image/jpeg"
        />
        <img class="hero__img" src="./images/people1.png" alt="" />
      </picture>
    </div>
  </div>
</section>
