<section class="new-arrivals">
  <div class="container">
    <h2 class="new-arrivals__title">NEW ARRIVALS</h2>
    <div class="new-arrivals__card">
      <picture>
        <source
          srcset="./images/people2.webp 484w, ./images/people2@2x.webp 968w"
          type="image/webp"
        />
        <source
          srcset="./images/people2.jpg 484w, ./images/people2@2x.jpg 968w"
          type="image/jpeg"
        />
        <img class="new-arrivals__img" src="./images/people2.jpg" alt="" />
      </picture>
      <div class="new-arrivals__desc">
        <div class="new-arrivals__text">
          <h4 class="new-arrivals__name">Hoodies & Sweetshirt</h4>
          <p class="new-arrivals__explore">Explore Now!</p>
        </div>
        <a href="#">
          <img class="new-arrivals__arrow" src="./images/arrow.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="new-arrivals__card">
      <picture>
        <source
          srcset="./images/people3.webp 484w, ./images/people3@2x.webp 968w"
          type="image/webp"
        />
        <source
          srcset="./images/people3.jpg 484w, ./images/people3@2x.jpg 968w"
          type="image/jpeg"
        />
        <img class="new-arrivals__img" src="./images/people3.jpg" alt="" />
      </picture>
      <div class="new-arrivals__desc">
        <div class="new-arrivals__text">
          <h4 class="new-arrivals__name">Coats & Parkas</h4>
          <p class="new-arrivals__explore">Explore Now!</p>
        </div>
        <a href="#">
          <img class="new-arrivals__arrow" src="./images/arrow.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="new-arrivals__card">
      <picture>
        <source
          srcset="./images/people4.webp 484w, ./images/people4@2x.webp 968w"
          type="image/webp"
        />
        <source
          srcset="./images/people4.jpg 484w, ./images/people4@2x.jpg 968w"
          type="image/jpeg"
        />
        <img class="new-arrivals__img" src="./images/people4.jpg" alt="" />
      </picture>
      <div class="new-arrivals__desc">
        <div class="new-arrivals__text">
          <h4 class="new-arrivals__name">Tees & T-Shirt</h4>
          <p class="new-arrivals__explore">Explore Now!</p>
        </div>
        <a href="#">
          <img class="new-arrivals__arrow" src="./images/arrow.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
