<section class="payday">
  <div class="container">
    <div class="payday__content">
      <h2 class="payday__title">
        <span class="payday__title-accent">PAYDAY</span> SALE NOW
      </h2>
      <p class="payday__info">
        Spend minimal $100 get 30% off voucher code for your next purchase
      </p>
      <div class="payday__date">
        <h3>
          <time class="payday__date-start" datetime="2021-06-01">1 June</time> –
          <time class="payday__date-end" datetime="2021-06-10"
            >10 June 2021</time
          >
        </h3>
        <small class="payday__note">*Terms & Conditions apply</small>
      </div>

      <a class="payday__link" href="#">SHOP NOW</a>
    </div>
  </div>
</section>
