.application {
  padding-top: 70px;
  padding-bottom: 70px;

  // контейнер в цій секції трішки менший, тому перезаписуємо йому max-width (додав клас application__container)
  &__container {
    max-width: 1500px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__left {
    padding: 40px 20px;
  }

  &__heading {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 900;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    color: $color-text-primary;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &__button {
    width: 70%;
    margin: 0 auto;
  }

  &__button--apple {
    padding-right: 12px;
  }

  &__right {
    display: none;
  }
}

@media (min-width: 768px) {
  .application__heading {
    font-size: 1.2em;
  }
  .application__text {
    font-size: 0.8em;
  }
}

@media (min-width: 1200px) {
  .application__wrap {
    flex-direction: row;
    // так відступ буде респонсивним (навідміну від margin-right: 150px; але з мінімальними gap)
    justify-content: space-between;
    gap: 60px;
  }

  .application__left {
    text-align: left;
  }

  .application__heading {
    font-size: 48px;
    letter-spacing: 3px;
  }

  .application__text {
    font-size: 24px;
    padding-top: 41px;
    padding-bottom: 65px;
  }

  .application__buttons {
    display: flex;
    max-width: 427px;
    gap: 20px;
    margin: 0;
  }

  .application__button {
    width: 204px;
  }

  // Псевдоелемент з абсолютним позиціонуванням позиціонується відносно сторінки,
  // а не батьківського елементу тому декоративне коло розмістилося не в тому місці де потрібно.

  // .application__button::before {
  //   content: '';
  //   position: absolute;
  //   height: 17px;
  //   width: 17px;
  //   background-color: #89807a;
  //   border-radius: 50%;
  //   right: -120px;
  //   bottom: 150px;
  //   z-index: 5;
  // }

  .application__right {
    background-color: white;
    display: flex;
    width: 328px;
    height: 710px;
    outline: 25px solid #c2c8da;
    border-radius: 35px;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    z-index: 3;
  }

  // Найпростіший спосіб реалізувати весь декор (просто фон до обгортки)
  .application__right-wrap {
    flex-basis: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/application-decor.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  // .application__right-wrap::before {
  //   content: '';
  //   position: absolute;
  //   width: 600px;
  //   height: 600px;
  //   border-radius: 50%;
  //   border: 1px solid #e0e0e0;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: -1;
  // }
  // .application__right-wrap::after {
  //   content: '';
  //   position: absolute;
  //   width: 770px;
  //   height: 770px;
  //   border-radius: 50%;
  //   border: 1px solid #e0e0e0;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: -1;
  // }
}
