.hero__title {
  font-size: 96px;
  font-weight: 900;
  width: 50px;
}

.hero__text {
  font-size: 32px;
  font-weight: 400;
}

.hero__button {
  font-size: 30px;
  font-weight: 500;
  padding: 18px 40px;

  border-radius: 10px;
  color: $color-text-contrast;
  background-color: $color-title;
}

.hero__img {
  width: 870px;
}
