.mobile {
  display: none;
}

@media (min-width: 1200px) {
  .mobile {
    display: block;
    width: 100%;
    max-width: 327px;
    margin: 0 auto;
    padding: 0 15px;
    height: 710px;
    position: relative;

    &__portfolio {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
    }

    &__headline {
      font-weight: 700;
      font-size: 23px;
      font-family: 'Inter', sans-serif;
      color: $color-title;
      padding-top: 20px;
      position: relative;
    }

    &__search {
      background-color: $color-text-contrast;
      border-radius: 14px;
      color: $color-text-primary;
      font-weight: 400;
      font-size: 14px;
      padding: 8px 0px 8px 15px;
      display: flex;
      gap: 10px;
      margin-top: 15px;
    }

    &__img-wrap {
      flex-basis: 25px;
    }

    &__categories {
      display: flex;
      gap: 17px;
      margin-top: 19px;
    }

    &__categories-basic {
      font-weight: 500;
      font-size: 11px;
      color: $color-text-secondary;
      background-color: #e9e6e6;
      border-radius: 12px;
      padding: 8px 20px;
    }

    &__categories-basic--active {
      color: $color-title;
      background-color: $color-bg-primary;
      font-weight: 500;
    }

    &__list {
      display: flex;
      gap: 15px;
    }

    &__list--top {
      margin: 25px 0 21px 0;
    }

    &__item-title {
      font-weight: 500;
      font-size: 12px;
      margin-top: 7px;
      margin-bottom: 5px;
      padding-left: 10px;
    }

    &__item-subtitle {
      font-weight: 400;
      font-size: 12px;
      color: $color-text-primary;
      padding-left: 10px;
    }

    &__nav-wrap {
      position: relative;
    }

    &__nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      background-color: $color-text-contrast;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 10px 10px 0 10px;
    }
  }
  .mobile__headline::after,
  .mobile__headline::before,
  .mobile__nav-wrap::before,
  .mobile__nav-wrap::after {
    left: auto;
    right: auto;
    transform: translateX(0);
  }
}
