.new-arrivals__title {
  font-size: 48px;
}

.new-arrivals__img {
  width: 484px;
}

.new-arrivals__text {
  font-size: 32px;
  font-weight: 500;
}

.new-arrivals__explore {
  font-size: 24px;
  font-weight: 500;
  color: $color-text-primary;
}

.new-arrivals__arrow {
  width: 32px;
}
